* {
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(100, 141, 141);
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    width: 400px;
    height: 500px;
    background-color: #fff;
    border-radius: 7px;
}

.form {
    flex: 1;
	text-align: center;
	padding: 20px;
    width: 100%;
    height: 100%;
}

.form__h2 {
    color: #333;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
}

.form__section {
    width: 100%;
    margin-top: 20px;
}

.form__input {
    width: 80%;
    margin: 25px 0;
    padding: 10px;
    border: none;
    border-bottom: 2px #a5a solid;
    border-radius: 4px;
}

.form__input:hover {
    background-color: #ddd;
}

.form__input:focus {
    outline: none;
    background-color: #ddd;
}

.send {
    width: 80%;
    background-color: #a5a;
    color: #fff;
}

.send:hover {
    background-color: rgb(165, 68, 165);
    border-bottom: 2px rgb(165, 68, 165) solid;
}

.send:active {
    background-color: rgb(146, 54, 146);
    border-bottom: 2px rgb(146, 54, 146) solid;
}

@media only screen and (max-width: 500px) {
    .container {
        display: none;
    }

    * {
        font-size: 20px;
        font-family: 'Source Sans Pro', sans-serif;
        margin: 0;
        padding: 0;
    }
    
    body {
        background-color: #111;
        overflow: hidden;
    }
    .mobile {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        margin: auto;
        margin-top: 25px;
        margin-bottom: 20px;
        width: 80%;
        height: 65%;
        background-color: #fff;
        border-radius: 7px;
    }
    
    .form {
        flex: 1;
        text-align: center;
    }
    
    .form__h2 {
        color: #333;
        font-size: 30px;
        text-align: center;
        margin-top: 30px;
    }
    
    .form__section {
        width: 100%;
        margin-top: 20px;
    }
    
    .form__input {
        width: 70%;
        margin: 10% 0;
        padding: 10px;
        border: none;
        border-bottom: 2px #a5a solid;
        border-radius: 4px;
    }
    
    .form__input:focus {
        outline: none;
        background-color: #ddd;
    }
    
    .send {
        width: 70%;
        background-color: #a5a;
        color: #fff;
        border-bottom: none;
    }
    
    .send:active {
        background-color: rgb(146, 54, 146);
    }

}